<!DOCTYPE html>
<!--
[% debug %]
-->
<html lang="en">
<head>
   <!-- Meta Tags -->
   <meta http-equiv="content-type" content="text/html; charset=utf-8">
   <meta name="description" content="[% title %]">
   <meta name="viewport" content="width=device-width, initial-scale=0">
   <meta name="theme-color" content="#fff">

   <!-- CSS -->
   <link rel="stylesheet" href="[% url %]/css/normalize.css">
   <link rel="stylesheet" href="[% url %]/css/skeleton.css">
   <link rel="stylesheet" href="[% url %]/css/style.css">
   <link rel="stylesheet" href="[% url %]/css/flags.css">

   <!-- Favicon -->
   <link rel="icon" href="[% url %]/images/favicon.png" type="image/png">

   <!-- JQ -->
   <script src="[% url %]/js/jquery-3.4.1.min.js"></script>

   <!-- Title -->
   <title>[% title %]</title>
</head>
<body>
