body {
  background-color: #222;
  color: #fff;
}

::-webkit-scrollbar-track-piece { background-color: #000; }

td, th {
  border-color: #181818;
}

tr.stripe:nth-child(4n),
tr.stripe:nth-child(4n-1) {
  background-color: rgb(25, 25, 25, 0.5);
}

.button, input[type="button"] {
  color: #aaa;
}

.button.tempty:hover,
.button.tempty:focus {
  color: #fff;
  border-color: #fff;
}

input[type=search] {
  color: #fff;
  background-color: #222;
  border-color: #bbb;
}
