@font-face {
  font-family: 'Xolonium';
  src: url('../fonts/xolonium-regular.eot');
  src: url('../fonts/xolonium-regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/xolonium-regular.woff2') format('woff2'),
       url('../fonts/xolonium-regular.woff') format('woff'),
       url('../fonts/xolonium-regular.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  font-size: 1.4em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.2;
  font-weight: 300 !important;
  font-family: Xolonium, sans-serif !important;
  overflow-y: scroll;
}

::-webkit-scrollbar { width: 8px; height: 3px; }
::-webkit-scrollbar-button { background-color: #666; }
::-webkit-scrollbar-track { background-color: #646464; }
::-webkit-scrollbar-thumb { height: 25px; background-color: #666; }
::-webkit-scrollbar-corner { background-color: #646464; }
::-webkit-resizer { background-color: #666; }

aside {
  float: right;
}

.container {
  max-width: 1060px !important;
}

.hidden {
  display: none;
}

.button-small {
  padding: 0 3px !important;
  min-width: 24px;
}

.center,
tr.info td:nth-child(3) {
  text-align: center;
}

.size065,
tbody.players tr td:nth-child(2) {
  font-size: 0.65em;
}

.size08,
tr.info td:nth-child(4) {
  font-size: 0.8em;
}

tbody.players {
  text-shadow: 0 0 1px #333;
}

.team1red {
  color: #E02130;
  /* color: #F54C00; */
}

.team2blue {
  color: #009AE4;
  /* color: #33C3F0; */
}

.team3yellow {
  color: #FF9600;
  /* color: #FAB243; */
}

.team4pink {
  color: #F44EA3;
  /* color: #C71AFD; */
}

div.one-full {
  margin: 3% 0;
}

a {
  text-decoration: none;
}

input[type=search] {
  width: 100%;
}

th:first-child,
td:first-child {
  padding-left: 3px;
}

th:last-child,
td:last-child {
  padding-right: 3px;
}

tbody.details2 tr td:nth-child(2),
tr.info:not(.empty) td:nth-child(2) {
   font-weight: bold;
}

#erebus {
  float: right;
  position: fixed;
  right: -100px;
  bottom: -40px;
  z-index: -999;
  opacity: 0.35;
  filter: alpha(opacity=35%);
}
