@font-face {
  font-family: 'Xolonium';
  src: url('../fonts/xolonium-regular-latin.eot');
  src: url('../fonts/xolonium-regular-latin.eot?#iefix') format('embedded-opentype'),
       url('../fonts/xolonium-regular-latin.woff2') format('woff2'),
       url('../fonts/xolonium-regular-latin.woff') format('woff'),
       url('../fonts/xolonium-regular-latin.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

body {
  font-size: 1.4em; /* currently ems cause chrome bug misinterpreting rems on body element */
  line-height: 1.2;
  font-weight: 300 !important;
  font-family: 'Xolonium', sans-serif !important;
  color: #222;
  overflow-y: scroll;
}

.container {
   max-width: 1000px !important;
}

.hidden {
   display: none;
}

tr.stripe:nth-child(4n),
tr.stripe:nth-child(4n-1)	{
   background-color: rgb(245,245,245,0.5);
}

#erebus {
   float: right;
   position: fixed;
   right: -100px;
   bottom: -40px;
   z-index: -999;
   opacity: 0.3;
   filter: alpha(poacity=30);
}
