[Unit]
Description=Xonotic Server List (xonlist)
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=www-data
Group=www-data
WorkingDirectory=/home/www/xonotic.lifeisabug.com/app
Environment=DANCER_ENVIRONMENT=production
PIDFile=/run/xonlist/xonlist.pid
RuntimeDirectory=xonlist
RuntimeDirectoryMode=0770
PrivateTmp=true
PrivateDevices=true
Restart=on-failure
RestartSec=3
# 2 workers: mausi has ~240M available; original contrite used 10
ExecStart=/usr/bin/start_server --signal-on-hup=SIGHUP --pid-file=/run/xonlist/xonlist.pid --path=/run/xonlist/xonlist.socket -- /usr/bin/plackup -s Starlet -workers=2 -E production -a /home/www/xonotic.lifeisabug.com/app/bin/app.psgi
ExecReload=/bin/kill -HUP $MAINPID

[Install]
WantedBy=multi-user.target
