<!-- JS -->
<script src="https://[% settings.domain %]/js/dark-mode-toggle.min.js" type="module"></script>
<script src="https://[% settings.domain %]/js/jquery-3.6.0.slim.min.js"></script>
<script src="https://[% settings.domain %]/js/clipboard.min.js"></script>
<script>
  var clipboard = new ClipboardJS('.clipboard');

  if ('serviceWorker' in navigator) {
    navigator.serviceWorker.register('https://[% settings.domain %]/service-worker.js');
  }
</script>
<script src="https://[% settings.domain %]/js/main.js"></script>
</body>
</html>
