[% PROCESS header.tt %]
[% PROCESS servers.tt %]
   <div class="row u-align-left">
      <div class="u-pull-right u-align-right">
         <p>made with &#x2764; by <a href="http://stats.xonotic.org/player/99876" rel="noopener">incognico</a><p>
         <p><a href="https://[% settings.domain %]/endpoint/json">JSON</a> &#x1F680; <a rel="noopener" href="https://github.com/incognico/xonlist">GitHub</a></p>
      </div>
      <p>Banned servers are not shown.</p>
   </div>
</div>
<div class="row"><img src="https://[% settings.domain %]/images/erebus.png" id="erebus" alt="erebus"></div>
[% PROCESS footer.tt %]
